@font-face {
    font-family: 'Font1';
    src: url('https://bucket-1308872143.cos.ap-beijing.myqcloud.com/bevan-v24-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
